.register {
    width: 600px;
    margin: 90px 120px 80px 350px;
    height: calc(87vh - 30vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(226, 224, 224);
    border-radius: 20px;
}

.registerTitle {
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.registerForm>label {
    margin: 10px 0;
}

.registerInput {
    margin-left: 130px;
    padding: 10px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.registerButton {
    margin-left: 250px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(27, 207, 51, 0.904);
    font-size: 15px;
    color: white;
}

.registerLoginButton {
    margin-left: 200px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    background-color: blue;
    font-size: 15px;
    color: white;
}